<div class="container-fluid">
    <h3>Information</h3>
    <div class="row">

        <div class="col-md-4">

            <table class="table table-striped table-bordered">
                <tr>
                    <td><b>ID:</b></td>
                    <td>{{_id}}</td>
                </tr>
                <tr>
                    <td><b>Address:</b></td>
                    <td>{{info.address}}</td>
                </tr>
                <tr>
                    <td><b>Rooms:</b></td>
                    <td>{{info.rooms}}</td>
                </tr>
                <tr>
                    <td><b>Size:</b></td>
                    <td>{{info.size}}</td>
                </tr>
            </table>

        </div>


        <div class="col-md-8">
            <table class="table table-primary table-striped table-bordered">
                <tr class="thead-light">
                    <th>Name</th>
                    <th>Occupant since</th>
                </tr>
                {{#each occupants}}
                    <tr class="">
                        <td>{{name}}</td>
                        <td>{{date}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <hr>
    <h2>Sensors</h2>
    <div class="row">

        <!--<ul class="list-group">-->
            <!--{{#each sensors}}-->
                <!--<li class="list-group-item">{{sensorID}} | {{sensorInfo.date}} | {{sensorInfo.date}} </li>-->
            <!--{{/each}}-->
        <!--</ul>-->

        <div class="table-responsive" style="max-height:300px; overflow:auto;">
            <table class="table table-striped table-bordered">
                <tr class="thead-light">
                    <th>ID</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Placement</th>
                </tr>
                {{#each sensors}}
                    <tr>
                        <td>{{sensorID}}</td>
                        <td>{{sensorInfo.type}}</td>
                        <td>{{sensorInfo.date}}</td>
                        <td>{{sensorInfo.placement}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>



    </div>
    <hr>
    <h2>Data <button type="button" class="btn btn-success">Compile</button></h2>

    <div class="row" style="max-height:600px; overflow:auto;">

        {{#each sensors}}
            <h4><span class="badge badge-primary">{{sensorID}}</span></h4>
            <h4><span class="badge badge-info">{{sensorInfo.type}}</span></h4>
            <h4><span class="badge badge-info">{{sensorInfo.placement}}</span></h4>
            <table class="table table-striped table-bordered">
                <tr class="thead-light">
                    <th>Data</th>
                    <th>Timestamp</th>
                </tr>
                {{#each this.data}}
                    <tr>
                        <td>{{data}}</td>
                        <td>{{timestamp}}</td>
                    </tr>
                {{/each}}
            </table>
            <br>
        {{/each}}

    </div>

</div>


