body {
    background-color: #d0dae1;
}

#main {
    padding-top: 60px;
}

#informationRow {
    border: 1px solid #8a8a8a;
    padding: 5px;
    border-radius:4px;
    background-color: #eef8ff;
    min-height: 500px;
}