<div style="max-height: 500px">
    <!--<div style="max-height:100%; max-width: 100%; overflow-y:scroll;">-->
    <h3>Selected item</h3>
    <h4 class="sel_item_header">Information</h4>
    <div>

        <div>

            <table>
                <tr>
                    <td><b>ID:</b></td>
                    <td>{{_id}}</td>
                </tr>
                <tr>
                    <td><b>Address:</b></td>
                    <td>{{info.address}}</td>
                </tr>
                <tr>
                    <td><b>Rooms:</b></td>
                    <td>{{info.rooms}}</td>
                </tr>
                <tr>
                    <td><b>Size:</b></td>
                    <td>{{info.size}}</td>
                </tr>
            </table>

        </div>


        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Occupant since</th>
                </tr>
                {{#each occupants}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{date}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <hr>
    <h4 class="sel_item_header">Sensors</h4>
    <div>

        <div style="max-height:300px; max-width: 100%; overflow-y:scroll;">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Placement</th>
                </tr>
                {{#each sensors}}
                    <tr>
                        <td>{{sensorID}}</td>
                        <td>{{sensorInfo.type}}</td>
                        <td>{{sensorInfo.date}}</td>
                        <td>{{sensorInfo.placement}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>



    </div>
    <hr>
    <h4 class="sel_item_header">Sensor Data</h4>

    <div style="max-height:600px; max-width: 100%; overflow-y:scroll;">

        {{#each sensors}}
            <h4 class="sel_item_header_sensors">{{sensorID}} - {{sensorInfo.type}}- {{sensorInfo.placement}}</h4>
            <table>
                <tr>
                    <th>Data</th>
                    <th>Timestamp</th>
                </tr>
                {{#each this.data}}
                    <tr>
                        <td>{{data}}</td>
                        <td>{{timestamp}}</td>
                    </tr>
                {{/each}}
            </table>
            <br>
        {{/each}}

    </div>

</div>


