<div>
    <div class="statistik">
        <table class="table table-primary table-striped table-bordered">
            <tr class="thead-light">
                <th>Type</th>
                <th>Average Document size</th>
                <th>Total documents size</th>
                <th>Total space used for indexing</th>
                <th>Total space used</th>
            </tr>
            <tr class="table row">
                <td>{{type}}</td>
                <td>{{avg_document_size}}</td>
                <td>{{total_documents_size}}</td>
                <td>{{total_for_all_indexes}}</td>
                <td>{{storage_size}}</td>
            </tr>
        </table>
    </div>
</div>
