.floatingButtonsWrap{
    height: min-content;
    width: min-content;
    background-color: transparent;
    float: right;
    /*transform: translate(890%, 200%);*/
    transform: translate(50%, 200%);
}

.floatingButtonsWrap button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    font-weight: bold;
}

#addButton{
    background-color: darkseagreen;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #74a274;
    margin-bottom: 5px;
}

#addAllButton{
    background-color: darkseagreen;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #74a274;
    margin-bottom: 5px;
}

#removeButton{
    background-color: indianred;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #ac4d4d;
    margin-bottom: 5px;
}

#removeAllButton{
    background-color: indianred;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #ac4d4d;
    margin-bottom: 5px;
}