.infoWrap{
    overflow: auto;
}

.selectedInfoWrap, .checkWarnWrap{
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: dimgrey 2px 2px;
    text-align: center;
    margin-right: 5px;
}

.selectedInfoWrap{
    margin-bottom: 4px;
}