div{
    border-radius: 3px;
}

body{
    background-color: #a8a8a8;
}

h3{
    text-align: center;
}

.backgroundWrap{
    display: grid;
    grid-template-rows: 1fr 60px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 3px;
    right: 3px;
    background-color: transparent;
    border: transparent;
}

.upperWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    border: transparent;
    margin-bottom: 4px;
}

.navigationWrap{
    height: available;
}

.selectedDataWrap{
    display: flex;
    flex-direction: column;
}

.selectedDataNavigationWrap{
    flex-basis: 70%;
}

.selectedDataTypesWrap{
    flex: 1;
}

.infoWrap{
    /*display: grid;*/
    /*grid-template-rows: 1fr 1fr;*/
    display: flex;
    flex-direction: column;
}

.selectedInfoWrap{
    flex: 4;
    overflow-y: scroll;
}

.checkWarnWrap{
    flex: 1;
}

.lowerWrap{
    display: flex;
    flex-direction: row;
}