.lowerWrap{
    padding: 3px;
    /*padding-top: 4px;*/
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: dimgrey 2px 2px;
}

.lowerWrap button{
    flex: 1;
    height: 99%;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;

    background-color: darkseagreen;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #74a274;
}
.lowerWrap button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
}
.lowerWrap button:active {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}
/*remove blue outline*/
.lowerWrap button:focus {outline:0;}

.lowerWrap input{
    width: 600px;
    border-radius: 10px;
    /*height: 80%;*/
    margin-left: 2px;
    margin-right: 2px;
}