.modal{
    /*display: none;*/
    float: right;
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: dimgrey 2px 2px;
    padding: 3px;
}

#dataTypesModalWrap{
    /*display: grid;*/
    display: flex;
    /*grid-template-columns: 20px 1fr;*/
    /*grid-template-rows: 1fr 1fr 1fr;*/
    flex-direction: column;
    height: min-content;
    width: min-content;
}

#dataTypesModalInputWrap{
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#dataTypesModalButtonWrap{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.modal button{
    flex-basis: 99%;
    border-radius: 10px;
    margin: 2px;
    height: 40px;
    font-weight: bold;
}

#dataTypesModalAcceptButton{

    background-color: darkseagreen;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #74a274;
}

#dataTypesModalCancelButton{
    background-color: indianred;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #ac4d4d;
}