.navigationWrap{
    /*background-color: lightgrey;*/
    /*border: 1px solid grey;*/
    /*box-shadow: dimgrey 2px 2px;*/
    /*!*text-align: center;*!*/
    /*margin-right: 5px;*/
    display: grid;
    grid-template-rows: 1fr min-content;
}



#left_tree{
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: dimgrey 2px 2px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.navigationButtonsWrap{
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: dimgrey 2px 2px;
    margin-right: 5px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.navigationButtonsWrap button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    /*font-weight: bold;*/
    flex: 1;
    /*height: 99%;*/
    margin-left: 2px;
    margin-right: 2px;
    /*margin-bottom: 0px;*/
}

#addButton:hover, #addAllButton:hover, #removeButton:hover, #removeAllButton:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
}
#addButton:active, #addAllButton:active, #removeButton:active, #removeAllButton:active{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}
/*remove blue outline*/
#addButton:focus, #addAllButton:focus, #removeButton:focus, #removeAllButton:focus {outline:0;}



#addButton{
    background-color: darkseagreen;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #74a274;
    /*margin-bottom: 5px;*/
}

#addAllButton{
    background-color: darkseagreen;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #74a274;
    /*margin-bottom: 5px;*/
}

#removeButton{
    background-color: indianred;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #ac4d4d;
    /*margin-bottom: 5px;*/
}

#removeAllButton{
    background-color: indianred;
    box-shadow: dimgrey 2px 2px;
    border: 1px solid #ac4d4d;
    /*margin-bottom: 5px;*/
}

