th {
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 5px;
}

table {
    width: 100%;
}

#dataTypesList {
    list-style-type: none;
}

#dataTypesList .type-active {
    background: #4CAF50;
    color: white;
    margin: 5px;
    text-align: center;
}

#dataTypesList .type-inactive {
    background: #af2e33;
    color: white;
    margin: 5px;
    text-align: center;
}

#dataTypesList li:hover {
    background: #FECA40;
}

.sel_item_header {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background: #007fff;
    color: white;
}

.sel_item_header_sensors {
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
    background: #af7c4b;
    color: #ffffff;
}