.accordion {
    min-width: 200px;
    min-height: 200px;
    height: available;
    width: auto;
    background-color: lightgrey;
    border-collapse: collapse;
    /*height: available;*/
}

/*#outerAccord{*/
    /*height: 90%;*/
/*}*/

/*#innerAccord{*/
    /*height: 90%;*/
/*}*/

#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}
#selectable .ui-selected {
    background: #F39814;
    color: white;
}
#selectable {
    list-style-type: none;
    margin: 3px;
    padding: 3px;
    min-width: 200px;
    min-height: 100px;

}

#selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1em;
    height: 18px;
    border-radius: 10px;
    justify-self: center;
    align-content: center;
    border: 1px solid grey;
}

#selectable .ui-selecting {
    background: #FECA40;
}
#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable_rt .ui-selecting {
    background: #FECA40;
}
#selectable_rt .ui-selected {
    background: #F39814;
    color: white;
}
#selectable_rt {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    min-height: 100px;
}
#selectable_rt li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1em;
    height: 18px;
    border-radius: 10px;
    justify-self: center;
    /*align: center;*/
    border: 1px solid grey;
}